/* Color mixins*/

/* Basic Settings */

html {
  font-size: 10px;
}

body {
  color: #202242;
}

@font-face {
  font-family: "RockwellRegular";
  src: url("../fonts/RockwellRegular/RockwellRegular.eot");
  src: url("../fonts/RockwellRegular/RockwellRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RockwellRegular/RockwellRegular.woff") format("woff"), url("../fonts/RockwellRegular/RockwellRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RockwellBoldItalic";
  src: url("../fonts/RockwellBoldItalic/RockwellBoldItalic.eot");
  src: url("../fonts/RockwellBoldItalic/RockwellBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RockwellBoldItalic/RockwellBoldItalic.woff") format("woff"), url("../fonts/RockwellBoldItalic/RockwellBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header-font {
  font-family: 'Rockwell';
  font-weight: bold;
}

.header-font-normal {
  font-family: 'Rockwell';
  font-weight: bold;
}

/* Fonts mixins */

.reg {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.semi {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

/* Header Styles */

header {
  width: 100%;
  min-height: 90rem;
  background-image: url("../img/main-f.png"), url("../img/main-bg.jpg");
  background-size: cover;
}

.header-top-block {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 11rem;
  background-color: #fff;
}

.header-logo {
  height: 11rem;
  line-height: 11rem;
}

.header-logo img {
  vertical-align: middle;
}

.header-logo span {
  font-family: 'Rockwell';
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
  vertical-align: middle;
}

.header-nav {
  text-align: center;
  height: 11rem;
  line-height: 11rem;
  border-right: 1px solid rgba(164, 164, 164, 0.2);
}

.header-nav li {
  display: inline-block;
  margin: 0  1rem;
}

.header-nav li a {
  color: #202242;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.header-nav li a:hover {
  text-decoration: none;
}

.header-nav li.item-active a {
  color: #ffff3e;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.header-callback {
  text-align: center;
}

.header-callback_text p {
  font-size: 1.2rem;
  padding-top: 1rem;
}

.header-callback_btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  background-color: #ffff3e;
  color: #202242;
  margin-right: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.header-callback_phone {
  font-size: 2.3rem;
  font-weight: bold;
  padding-left: 2rem;
  border-left: 2px solid rgba(164, 164, 164, 0.2);
  color: #202242;
}

.header-text-block {
  padding-top: 10%;
  color: #fff;
  text-align: center;
}

.header-text-block h1 {
  font-family: 'Rockwell';
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: .2em;
}

.header-text-block p {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.header-main-img {
  margin-top: 2rem;
}

.main-form-block {
  width: 50rem;
  height: 9rem;
  margin: 4rem auto;
  padding-top: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.main-form_input {
  display: inline-block;
  background-color: #fff;
  padding: 0 1rem;
  height: 5rem;
  vertical-align: middle;
  margin-right: -4px;
  border: none;
  width: 50%;
}

.main-form_btn {
  display: inline-block;
  border: none;
  background-color: #ffff3e;
  color: #fff;
  height: 5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
}

.input-addon {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  display: inline-block;
  background-color: #ffff3e;
  height: 5rem;
  width: 8rem;
  line-height: 5rem;
  margin-right: -2px;
  vertical-align: middle;
}