body {
	max-width: 100%;
	margin: 0;
	background-color: #ddd;
}

/*=============================
	HEADER and FOOTER
=============================*/

.header {
	background-color: #000;
	height: 120px;
	max-width: 100%;
	color: white;
	padding-top: 0;
	margin-top: 0;
}

.footer {
	max-width: 100%;
	height: 200px;
	background-color: #000;
	color: white;
}


.logo {
	display: inline-block;
	font-size: 2.3em;
	vertical-align: middle;
	margin-left: 70px;
	//border: 1px solid white;
} 

.logo-first {
	color: #33d;
}

/*===========================
	ABOUT OUR ACTIVITIES
=============================*/

.main-block {
	background-color: #777;
}

.main_photo {
	max-height: 100%;
	width: 780px;
}


/*===============================
	ABOUT US
=================================*/

.block-our {
	border-bottom: 2px solid #111;
}

.photo_us {
	float: right;
	margin: 30px 40px;
}